src/main/resources/api/SalesOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.samples.com/SalesOrder/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesOrder" targetNamespace="http://www.samples.com/SalesOrder/">
	<wsdl:documentation>Definition for a web service called SalesOrder,
    which can be used to add or retrieve books from a collection.
  </wsdl:documentation>
	<!--
      The `types` element defines the data types (XML elements)
      that are used by the web service.
   -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.samples.com/SalesOrder/">
			<xsd:element name="Order">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OrderNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="SourceSystem" type="xsd:string"/>
						<xsd:element name="Type" type="xsd:string"/>
						<xsd:element name="CreationChannel" type="xsd:string"/>
						<xsd:element name="DistributionChannel" type="xsd:string"/>
						<xsd:element name="CountryPlacedFrom" type="xsd:string"/>
						<xsd:element name="Currency" type="xsd:string"/>
						<xsd:element name="OrderDateTime" type="xsd:string"/>
						<xsd:element name="ReceivedDateTime" type="xsd:string"/>
						<xsd:element name="RequestedDeliveryDate" type="xsd:string"/>
						<xsd:element name="SalesLegalEntity" type="xsd:string"/>
						<xsd:element name="Language" type="xsd:string"/>
						<xsd:element name="NumOfLineItems" type="xsd:string"/>
						<xsd:element name="PartyId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateOrder">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:Order" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateOrderResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OrderNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="SourceSystem" type="xsd:string"/>
						<xsd:element name="OrderStatus" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<!--
      A wsdl `message` element is used to define a message
      exchanged between a web service, consisting of zero
      or more `part`s.
   -->
	<wsdl:message name="CreateOrderRequest">
		<wsdl:part name="parameters" element="tns:CreateOrder"/>
	</wsdl:message>
	<wsdl:message name="CreateOrderResponse">
		<wsdl:part name="parameters" element="tns:CreateOrderResponse"/>
	</wsdl:message>
	<!--
      A WSDL `portType` is used to combine multiple `message`s
      (e.g. input, output) into a single operation.

      Here we define three synchronous (input/output) operations
      and the `message`s that must be used for each.
   -->
	<wsdl:portType name="SalesOrder">
		<wsdl:operation name="CreateOrder">
			<wsdl:input message="tns:CreateOrderRequest"/>
			<wsdl:output message="tns:CreateOrderResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<!--
      The `binding` element defines exactly how each
      `operation` will take place over the network.
      In this case, we are using SOAP.
   -->
	<wsdl:binding name="SalesOrderSOAP" type="tns:SalesOrder">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateOrder">
			<soap:operation soapAction="http://www.samples.com/SalesOrder/CreateOrder"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<!--
      The `service` element finally says where the service
      can be accessed from - in other words, its endpoint.
   -->
	<wsdl:service name="SalesOrder">
		<wsdl:port binding="tns:SalesOrderSOAP" name="SalesOrderSOAP">
			<soap:address location="http://localhost:8095/SalesOrder"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>